{
    "presets": ["stage-2", "react", "es2015", "es2016"],
    "plugins": [
        "transform-decorators-legacy",
        "transform-class-properties",
        "add-module-exports",
        [
            "transform-runtime",
            {
                "polyfill": false
            }
        ]
    ]
}
