{
    "presets": ["stage-0", "react", "es2015"],
    "plugins": [
        "transform-decorators-legacy",
        "transform-class-properties",
        "add-module-exports",
        [
            "transform-runtime",
            {
                "polyfill": false
            }
        ]
    ],
    "env": {
        "test": {
            "ignore": null
        }
    },
    "ignore": ["**/*.test.js"]
}
